.view {
    flex: 1;
    max-height: 100%;
    display: flex;
    align-items: center;
}
.icon_button {
    background-color: #FFFFFF;
}
.content_invest{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin: 10px;
}
.invest {
    background-color: #C9C6C66B;
    border-radius: 10px;
    padding: 10px;
}
.invest_select {
    background-color: #0DA980;
    border-radius: 10px;
    padding: 10px;
}
.calc {
    background-color: #01464D;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
}
.contentBtn {
    display: flex;
    align-items: center;
}
.optionsBtn {
    width: 70vw;
}