.container {
    position: absolute;
    bottom: 2%;
    width: 100%;
}
.content {
    display: flex;
    flex-direction: row;
}
.button {
    display: flex;
    background-color: #0DA980;
    justify-content: center;
    padding: 10px 5px 10px 15px;
}