.container {
    background-color: '#01464D';
    flex-direction: 'row';
    padding-top: 16;
    padding-bottom: 44;
}
.content {
    flex: 1;
    align-items: 'center';
    flex-direction: 'row';
    justify-content: 'space-between';
}
.username {
    font-size: 10;
    color: '#fff';
    font-weight: 'bold';
}
.buttonUser {
    width: 44;
    height: 44;
    background-color: 'rgba(255, 255, 0.5)';
    justify-content: 'center';
    align-items: 'center';
    border-radius: 44 / 2;
}