.container {
    background-color: #fff;
    flex: 1;
    min-height: 100%;
}
.content {
    flex: 1;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}
.username {
    font-size: 10;
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
}
.text_title {
    font-size: 10;
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
}
.buttonUser {
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}
.logout {
    display: flex;
}
.background {
    display: flex;
    flex-direction: 'row';
    padding-top: 16px;
    padding-bottom: 60px;
    justify-content: space-between;
}
.goBack {
    background-color: #01464D;
}