.container {
    flex: 1;
    max-height: 100%;
}
.content {
    display: flex;
    justify-content: space-around;
}
.content2 {
    display: flex;
    align-items: center;
}
.buttonUser {
    width: 44px;
    height: 44px;
    justify-content: left;
    align-items: center;
    border-radius: 2px;
}
.logout {
    display: inline;
    float: right;
    margin-right: 20px;
}
.background {
    display: flex;
    padding-top: 16px;
    padding-bottom: 20%;
    justify-content: space-between;
}
.goBack {
    background-color: #01464D;
}
.action {
    display: flex;
    align-items: center;
    margin-top: 10%;
}
.actionButton {
    border-radius: 2vw;
    background-color: #1CAF88;
    color: #edeaea;
    padding: 4%;
    display: flex;
    align-items: center;

    font-family: "Roboto Flex";
    font-size: 18px;
    font-weight: 600;
}
.buttonC {
    margin-top: 60px;
    margin-bottom: 20px;
}
.centralButton {
    background-color: #01464D;
    border-radius: 5px;
    align-self: center;
    padding: 2%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonText {
    color: white;
    font-size: 16px;
    text-align: center;
}
.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
}
.ladoAlado {
    display: flex;
    flex-direction: row;
}
.around {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.scrollView {
    margin: 20px;
}
.containerScroll {
    flex: 1;
}