.input {
    background-color: #C9C6C66B;
    border-radius: 6px;
    width: 90%;
    padding: 6%;
    margin: 10px;
}
.inputDateV {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    margin-top: 10px;
}
.inputDate {
    background-color: #C9C6C66B;
    border-radius: 6px;
    width: 35%;
    padding: 6%;
    margin: 0 auto;
}