.content {
    flex: 1;
    align-items: center;
    padding: 10px;
    background-color: #01464D;
    justify-content:space-around;
}
.line {
    width: 90%;
    height: 1px;
    background-color: #ECECEC;
}
.link {
    color: #0DA980;
    text-decoration: underline;
    text-decoration-color: #0DA980;
    margin: 0 10px 0 10px;
}
.links {
    flex-direction: row;
}
.button {
    background-color: #8F8F8F;
    color: #F0F0F0;

    border-radius: 2vw;
    padding: 4%;
    display: flex;
    align-items: center;

    font-family: "Roboto Flex";
    font-size: 18px;
    font-weight: 600;
}
.input {
    color: #CFCFCF;
    border: none;
    border-bottom: 1px solid #ECECEC;
    width: 80%;
}
.inputR {
    color: #CFCFCF;
    border-radius: 2vw;
    padding: 4%;
    width: 80%;
    background-color: rgba(241, 245, 244, 0.20);
}