.text {
    color: #ECECEC;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}
.hearder_text {
    color: #FFF;
    font-family: "Roboto Flex";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
}
.description {
    color: #857777;
    font-family: "Roboto Flex";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
.title {
    color: #01464D;
    font-family: "Roboto Flex";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}
.title_alt {
    font-family: "Roboto Flex";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    color: #0DA980;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}