.text {
    color: #ECECEC;
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}
.hearder_text {
    color: #FFF;
    font-family: "Roboto Flex";
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    padding-top: 20px;
}
.hearder_text2 {
    color: #FFF;
    font-family: "Roboto Flex";
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
}
.description {
    color: #373535;
    font-family: "Roboto Flex";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin: 8vw;
}
.title {
    display: flex;
    justify-content: center;
    margin-left: 8vw;
    margin-right: 5vw;

    color: #01464D;
    font-family: "Roboto Flex";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.title_alt {
    font-family: "Roboto Flex";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    color: #0DA980;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
}
.textCenter {
    display: flex;
    justify-content: center;

    color: #01464D;
    font-family: "Roboto Flex";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}